#cloud-config
disk_setup:
  ephemeral0:
    table_type: gpt
    layout: [[100, 82]]
fs_setup:
  - device: ephemeral0.1
    filesystem: swap
mounts:
  - ["ephemeral0.1", "none", "swap", "sw,nofail,x-systemd.requires=cloud-init.service", "0", "0"]

%{ if username != "" && password != ""}
rh_subscription:
  username: "${username}"
  password: "${password}"
  add-pool: [ "${pool}" ]
  enable-repo: []
  disable-repo: []
%{ endif }

runcmd:
  - cloud-init-per instance dnf dnf update -y
