#cloud-config
fs_setup:
  - device: ephemeral0
    filesystem: swap
mounts:
  - ["ephemeral0", "none", "swap", "sw,nofail,x-systemd.requires=cloud-init.service", "0", "0"]

%{ if username != "" && password != ""}
rh_subscription:
  username: "${username}"
  password: "${password}"
  enable-repo: []
  disable-repo: []
%{ endif }

runcmd:
  - cloud-init-per instance yum yum update -y
